.clients__title {
  margin-bottom: 30px;
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  border: 1px solid var(--social-link-item-color);
  border-radius: 4px;
  fill: var(--social-link-item-color);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    fill: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  .clients__item {
    flex-basis: calc((100% - 60px) / 2);
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
  }

  .clients__link {
    width: 210px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  .clients__item {
    flex-basis: calc((100% - 90px) / 3);
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
  }

  .clients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }

  .clients__list {
    display: flex;
    justify-content: space-between;
  }

  .clients__item {
    display: flex;
  }

  .clients__link {
    width: 170px;
  }

  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

// .clients__title {
//   margin-bottom: 50px;
// }

// .title {
//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.16;
//   text-align: center;
//   color: var(--secondary-text-color);
// }

// .clients__list {
//   display: flex;
//   justify-content: space-between;
// }

// .clients__item {
//   display: flex;
// }

// .clients__link {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 170px;
//   height: 92px;
//   border: 1px solid var(--social-link-item-color);
//   border-radius: 4px;
//   fill: var(--social-link-item-color);

//   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     border: 1px solid var(--accent-color);
//     fill: var(--accent-color);
//   }
// }
