.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--secondary-text-color);
}

.feature_section {
  padding-top: 94px;
  padding-bottom: 47px;
}

.feature__list-title {
  font-weight: 700;
  line-height: 1.1;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.feature__list {
  display: flex;
  margin-right: -30px;
  margin-bottom: -30px;
}

.feature__item {
  flex-basis: calc((100% - 120px) / 4);

  margin-right: 30px;
  margin-bottom: 30px;
}

.feature__list-text {
  margin-top: 10px;
}

.feature__item-block {
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}
