.footer-contacts-form__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-bg-color);
  margin-bottom: 20px;
}

// .footer-contacts-form__field {
//   display: flex;
// }

.footer-contacts-form__icon {
  margin-left: 9px;
}

.footer-contacts-form__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;

  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

@media screen and (max-width: 767px) {
  .footer-contacts-form__button {
    display: inline-flex;
    align-items: center;
    padding: 10px 28px;
  }
}

@media screen and (min-width: 768px) {
  .footer-contacts-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .footer-contacts-form__input {
    width: 450px;
  }

  .footer-contacts-form__field {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-contacts-form__button {
    padding: 10px 28px;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-contacts-form__input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }

  .footer-contacts-form {
    margin: 0;
    display: flex;
    align-items: baseline;
  }

  .footer-contacts-form__button {
    padding: 10px 28px;
    display: flex;
    align-items: center;
  }

  .footer-contacts-form__field {
    flex-direction: unset;
  }
}
