.footer {
  background-color: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}
