.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-bg-color);
}

.hero-section {
  max-width: 360px;
  margin: 0 auto;
}

.hero__button {
  margin-top: 30px;
}

// 480
@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/background-image-mobile.jpg);
    background-size: cover;
    background-color: var(--bg-image-color);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/background-image-mobile@2x.jpg);
  }
}

// 768
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/background-image-tablet.jpg);
    background-size: cover;
    background-color: var(--bg-image-color);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero__right-side {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/background-image-tablet@2x.jpg);
  }
}

// 1200
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/background-image-desktop.jpg);
    background-size: cover;
    background-color: var(--bg-image-color);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero__right-side {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero/background-image-desktop@2x.jpg);
  }
}

// .hero {
//   background-image: linear-gradient(
//       to right,
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)
//     ),
//     url(../images/background-image.jpg);
//   background-size: cover;
//   background-color: var(--bg-image-color);
//   max-width: 1600px;
//   padding-top: 200px;
//   padding-bottom: 200px;
//   text-align: center;
// }

// .hero-section {
//   max-width: 700px;
//   margin: 0 auto;
// }

// .hero__title {
//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.4;
//   text-align: center;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
//   color: var(--main-bg-color);
// }
