.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--logo-color);
  text-decoration: none;
  margin-right: 93px;
}

.logo__accent {
  color: var(--accent-color);
}

.footer__logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--main-bg-color);
  margin-bottom: 20px;
}
