.button_primary {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--main-bg-color);
  background-color: var(--accent-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--main-bg-color);
    background-color: var(--btn-primary-hover);
  }
}
