body {
  background-color: var(--main-bg-color);
  color: var(--primary-text-color);

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
