:root {
  --logo-color: #000000;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --accent-color: #2196f3;
  --btn-primary-hover: #188ce8;
  --portfolio-border: #eeeeee;
  --header-border: #ececec;
  --bg-image-color: #c4c4c4;
  --social-link-item-color: #afb1b8;
}
